@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,600&display=swap');

html, body{
    height: 100vh;
    background-color: #000;
  }
  
  .contenedor{
    height: 100%;    
    background-color: #6A737C;
    margin: 1% 1%;
    display:flex;
    flex-direction: column;
    min-height:100%;
  }

  #contenedor-1{
    background-image: url(../img/textura.png);
  }  
  
/* */
.error-message {
  margin-bottom: 10px;
  background-color: #fdedee;
  color: #eb0909;
  padding: 10px;
  border-radius: 5px; 
  margin: 0 auto 10px;
  width: 50%;
}

.error-title {
  font-size: 18px; 
  text-align: center;
  margin-left: 10px;
}

.error-description {
  font-size: 14px;
  text-align: center;
}

.success-message {  
  background-color: #e7f7eb;
  color: #00771d;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
}



.success-title {
  font-size: 18px;
  text-align: center;
}

.success-description {
  font-size: 14px;
  text-align: center;
}

.success-title i {
  margin-right: 7px;
  
}

.error-title i {
  margin-right: 7px;
}


.success-title,
.error-title {
  margin-left: 15px;
 
}

.close-button {
  background-color: #eaeaea;
  border: none;
  background-color: #000000;  
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #000000;
 width: 5%;
 margin-top: -80px;
 float: right;
}

.close-button:hover {
  background-color: #000000;
  
}
/* editar perfil */
#imagen-canvas{
  position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
    height: 57%;
    bottom: 0;
    left: 0;
    color: #fff;
    text-decoration: none;
    transform: translateY(50%);
    opacity: 0;
    transition: all ease-in 200ms;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f1f1f1;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.custom-file-upload i {
  margin-right: 5px;
}

.custom-file-upload:hover {
  background-color: #e1e1e1;
}

   /*MENU NAV*/
 
.hero {
    
  background: linear-gradient(#3b5998, transparent);  
    color: #fff;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      "nav"
      "content";   
    width: 100%;
    
    position: fixed;
  z-index: 999;
  }
  
  
.nav__logo .image {     
  width: 30%;
  height:30%; 
 }  
  
  .navbar {    
    grid-area: nav;
    display: grid;
    display: flex;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    padding: 5px 30px;
    
  }
  
  .navbar .nav-header {
    margin: auto;
    display: inline;
  }
  .navbar .nav-header .nav-logo {
    display: inline-block;
    margin-top: -7px;
  }
  .navbar .nav-links {
    display: inline;
    float: right;
    font-size: 5px;
  }
  
  /*Tipografia menu*/
  .navbar .nav-links a {
    font-family: "Lato", sans-serif;
    padding: 20px 12px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
  }
  /* Hover effects */
  .navbar .nav-links a:hover {
    background-color: #fa9e69;
    border-radius: 6px;
  }
  
  /* responsive navbar toggle button */
  .navbar #nav-check,
  .navbar .nav-btn {
    display: none;
  }
  
  /* Dropdown menu CSS code */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .drop-content,
  .drop-content2 {
    display: none;
    position: absolute;
    background-color: #9ea3a7;
    border-radius: 6px;
    min-width: 120px;
    font-size: 16px;
    font-family: "Urbanist", sans-serif;
    top: 34px;
  }
  /* on hover show dropdown */
  .dropdown:hover .drop-content,
  .dropdown2:hover .drop-content2 {
    display: block;
  }
  /* Color lineas links */
  .drop-content a {
    padding: 12px 10px;
    border-bottom: 1px solid #757c81;
    display: block;
    transition: all 0.5s ease !important;
  }
  .dropBtn .drop-content a:hover {
    background-color: rgb(250, 158, 102) ;
  }
  .dropdown:hover .dropBtn,
  .dropdown2:hover .dropBtn2 {
    background-color: rgb(250, 158, 102) ;
  }
  .dropdown2 .drop-content2 {
    position: absolute;
    left: 120px;
    top: 126px;
  }
  .dropBtn2 i {
    margin-left: 15px;
  }

  @media (max-width: 200px) {
    .navbar
   {
    padding: 0 10px 30px;
    display: flow-root;    
    text-align: center;
    margin: 10%;
  }    
}

/*Dashboard Propietario / menu lateral*/
        
#body{
  margin-left: 80px;

  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main{
  padding: 20px;
  margin-top: 70%;
}

/*#btn_open{
  color: #fff;
}*/
.icon__menu{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-top: 100px;
}

.icon__menu i{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
}

.menu__side{
  width: 60px;
  height: 100%;
  background: #1783db;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 20px solid #1783db;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
  display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.name__page{
  
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-top: 100px;
}

.name__page i{
  width: 20px;
  margin-right: 20px;
  padding: 20px 30px;
}

.options__menu{
  padding: 20px 30px;
  text-decoration: none;
}

.options__menu a{
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
  text-decoration: none;
}

.options__menu a:hover{
  color: white;
}

.options__menu .option{
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.options__menu .option i{
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.options__menu .option h4{
  font-weight: 100;
  cursor: pointer;
  font-size: 15px;
  display: contents;   

}

a.selected{
  color: #fff;
}

.selected:before{
  content: '';
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move{
  margin-left: 250px;
}

.menu__side_move{
  width: 200px;
}


@media screen and (max-width: 760px){
  .body_move{
      margin-left: 0px;
  }

  .menu__side_move{
      width: 50px;    
  }
}
/*Primer Contenedor*/
/*Perfil Propietario*/
.perfil-usuario {
  background: linear-gradient(#3b5998, transparent);
  color: #333;
}
.perfil-usuario .sombra {
  position: absolute;
  display: block;
  background: linear-gradient(transparent,rgba(0, 0, 0, .5));
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  
}
.perfil-usuario .portada-perfil,
.perfil-usuario .sombra {
  border-radius: 0 0 20px 20px;
}
.perfil-usuario img {
  width: 100%;
}
.contenedor-perfil {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.perfil-usuario .contenedor-perfil {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.perfil-usuario .portada-perfil {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 30rem;
  margin-bottom: .5rem;
  background: #00000066;
  border-radius: 10px;
}

.perfil-usuario .avatar-perfil {
    background-image: url(../img/avatar32.jpeg);
  display: block;
  width: 230px;
  height: 230px;
  background-color: #D9DCF1;
  position: absolute;
  bottom: 35px;
  left: 8rem;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid #FFFFFF;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .2);
}
.perfil-usuario .cambiar-foto {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .5);
  height: 57%;
  bottom: 0;
  left: 0;
  color: #fff;
  text-decoration: none;
  transform: translateY(50%);
  opacity: 0;
  transition: all ease-in 200ms;
}
.perfil-usuario .cambiar-foto i {
  margin-bottom: .5rem;
  font-size: 2rem;
}
.perfil-usuario .avatar-perfil:hover .cambiar-foto {
  transform: translateY(0);
  opacity: 1;
}
.perfil-usuario .datos-perfil {
  position: absolute;
  display: block;
  width: calc(100% - 230px - 8rem);
  right: -5em;
  bottom: 0;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, .2);
  padding-bottom: 2rem;
}
.perfil-usuario .titulo-usuario {
  font-size: 2.3rem;
  white-space: nowrap;
  margin-bottom: .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.perfil-usuario .bio-usuario {
  font-size: 2em;
  margin-bottom: .75rem;
}
.perfil-usuario .lista-perfil {
  list-style: none;
  margin-left: -40px;
}
.perfil-usuario .lista-perfil li {
  display: inline-block;
  font-size: 1.33em;
  margin-right: 1rem;
}

.perfil-usuario .opcciones-perfil {
  display: flex;
  position: absolute;
  right: 2rem;
  top: 1rem;
  margin-top: 75px;
}
.perfil-usuario .opcciones-perfil button {
  border: 0;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  cursor: pointer;
  width: 80%;
}
.perfil-usuario .menu-perfil ul {
  display: flex;
  list-style: none;
  margin-left: calc(200px + 8rem);
  width: calc(100% - 200px - 8rem);
}
.perfil-usuario .menu-perfil ul li {
  margin-right: 1rem;
}
.perfil-usuario .menu-perfil a {
  display: flex;
  text-decoration: none;
  color: inherit;
  padding: 8px 20px; 
  color: #fff;
  font-size: 15px;
  border-radius: 8px;
  transition: all ease-in 100ms;
  display: flex;
  position: absolute;
  right: 2rem;
  top: 1rem;
  width: 30%;
}
.perfil-usuario .menu-perfil a:hover {
  background-color: #4CB0C6;
  color: #fff;
}
.perfil-usuario .icono-perfil {
  display: none;
  margin-right: .75rem;
}
@media (max-width: 780px) {
  .perfil-usuario .contenedor-perfil {
      width: 100%;
  }
  
  .perfil-usuario .bio-usuario {
      font-size: 1em;
      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .perfil-usuario .titulo-usuario {
      font-size: 1.1rem;
  }
  .perfil-usuario .portada-perfil {
      height: 28rem;
  }
  .perfil-usuario .menu-perfil ul {
      flex-direction: column;
  }
  .perfil-usuario .lista-perfil {
      display: block;
  }
  .perfil-usuario .menu-perfil {
      margin-top: 2rem;
  }
  .perfil-usuario .menu-perfil ul {
      display: flex;
      list-style: none;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2.5rem;
      width: 70%;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 0 12px 2px rgba(0, 0, 0, .1);
  }
  .perfil-usuario .icono-perfil {
      display: inline-block;
  }
}

/*Formulario estrellas*/
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

#estrellas, #valosAñadido, #radiol, #radio2, #radio3, #radio4 {
  color: rgb(255, 255, 255);
 
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: end;

}

.clasificacion  {
  font-size: 20px;
  direction: ltr;
  unicode-bidi: bidi-override;
  text-align: center;
}

#estrella label:hover,
label:hover ~ label {
  color: orange;
}

#estrella input[type="radio"]:checked ~ label {
  color: orange;
  display: flex;
}

#testimonios_titulos {
  display: flex;
}

 label>.contenedor {
  font-size: 20px;
  text-align: left;
  color: #fff; 
}

/*Segundo contenedor*/
/*Calendario crear Reserva*/

#contenedor-2{
  height:150vh;
}

#calendar {
  margin: auto;       
  display: flex;
  flex-wrap: wrap;    
}

#calendae{
  margin-top: -80%;
  width: 100%;
}

div#container{
  margin: auto;
  justify-content: center;
  text-align: center;
}


.contenedor_calendario{    
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  height: 100%;
}

.titulo{
  color:#fff;
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}

#header {
  padding: 10px;
  color: #92a1d1;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  background: #000000;
  border-radius: 10px;
  margin-bottom: 10px;
 
}

#header button {
  background-color:#92a1d1;
}
#container {
  width: 770px;
  flex-wrap: wrap;
  height: 100%;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
  color: aliceblue;
  font-size: medium;
  background: #000;
  border-radius: 10px;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px; 
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
  margin-top: 100px;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  z-index: 10;
  width: 100vw;
  height: 150vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

.heading-2 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
    padding: 30px;
    color: #fff;
}
  
 /*Tercer contenedor*/
  /*Tabla datos Usuario*/

  .heading-3 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
      padding: 30px;
      color: #ffffff;
  }


  .heading-4 {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    padding: 10px; 
    color: #535353;
    margin: auto;
  }


.table__header {  
  
    padding: .9rem 1.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 45px;
    border-radius: 10px;
    
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    padding: 0 .8rem;
    border-radius: 2rem;
    margin-left: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: rgba(139, 139, 139, 0.788);
    box-shadow: 0 .1rem .4rem rgba(0, 0, 0, 0.452);
}



.table__header .input-group input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
  width: 85%;
  max-height: calc(79% - 1.3rem);
  background-color: #fffb;
  margin: .8rem auto;
  border-radius: .6rem;
  overflow: auto;
  overflow: overlay;
 
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
    cursor: pointer;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }

    .contenedor_calendario{
        border-radius: 20px;
        width: 90%;
        margin-left: -20px;
    }
    
}

@media (max-width: 1250px) {
section.table {
    width: 72vw;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    margin-left: 12.5%;
    margin-top: 100%;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 60px;
}
}

@media (max-width: 1050px) {
    section.table {
        width: 52vw;
        background-color: #fff5;
        backdrop-filter: blur(7px);
        margin-left: 12.5%;
        margin-top: 100%;
        border-radius: 10px;
        font-size: 18px;
        margin-bottom: 60px;
    }
    }

    @media (max-width: 950px) {
        section.table {
            width: 52vw;
            background-color: #fff5;
            backdrop-filter: blur(7px);
            margin-left: 12.5%;
            margin-top: 100%;
            border-radius: 10px;
            font-size: 18px;
            margin-bottom: 60px;
        }
        }

        @media (max-width: 850px) {
            section.table {
                width: 70vw;
                background-color: #fff5;
                backdrop-filter: blur(7px);
               
                border-radius: 10px;
                font-size: 18px;
                margin-bottom: 60px;
             
            
            }
            }  
    
            @media (max-width: 750px) {
                section.table {
                    width: 42vw;
                    background-color: #fff5;
                    backdrop-filter: blur(7px);
                    margin-left: 12.5%;
                    margin-top: 110%;
                    border-radius: 10px;
                    font-size: 18px;
                    margin-bottom: 60px;
                }
                }
    

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
} 

/*Cuarto contenedor*/

 /*Formularios*/
  

/*Estilo formularios*/
#contenedor-4{
  height: 220vh;
  background-color: #464d55;
  background-image: url(../img/textura1.png);
}
div#FormularioCheckbox{
  font-size: 17px; 
  border: none;
  font-family: "Lato" sans-serif;
  display: grid;
  color: #858585;
}

.formulario {

  font-family: 'Lora', serif;
  background: #fff; 
  padding: 3px;
  width: 85%;
  padding: 43px 13px;
  border-radius: 10px;
  margin: auto;
  margin-top: 170px;
}


input[type="file"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  font-size: 17px; 
  padding: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.1) ;
}


textarea {
  height: 80px;
  width: 100%;
  resize: none;
  border-color: #fff;
}

.input-contenedor { 
  border-radius: 12px;
  border: 1px solid #aaa;   
  
}
.icon {
  text-align: center;
  color: #999;
}

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 18px;
  background: #46a2fd;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 12px;  
  margin-top: 50px;
  
}

#archivo3{
  color: white;
 width: 95%;
  margin-top: 8px;
  text-align: center;
  background-color: #272c3146;
  padding: 8px;
  margin: auto;
  margin-top: 10px;
  cursor: pointer; 
  border-radius: 12px;
  border: 1px solid #aaa;
}
.button:hover {
  background: rgb(111, 188, 164);
}
p {
  margin-top: 0;
  font-size: 15px;
  color:#858585;  
}



.link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}
.link:hover {
  color: rgb(95, 122, 160);
}

/*Tabla cliente*/

#cliente{  
  will-change: auto;

}


/*Quinto contenedor*/

  /*:::Boton-Modal:::*/
  .boton-modal{
    padding: 13px;
    background-color: #fff;
    text-align: center;
}
.boton-modal label{
    border: none;
    width: 100%;
    color: white;
    font-size: 18px;
    background: #46a2fd;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 12px;
}
.boton-modal label:hover{
    background-color: #185E83;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 200vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    
  height: 200vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin: auto;
}
.content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #59666d;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    margin: auto;
}
.content-modal .btn-cerrar label:hover{
    background-color:#185E83;
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/

/*Cargar Imagenes*/


#imagen_subir{
    font-size: 20px;
    color: rgb(131, 131, 131);
}

span{
    font-size: 17x;
    font-family: "Lato" sans-serif;
    color: #858585;;
}



.input-contenedor i{
    font-size: 20px;
    padding: 10px;
     color: rgba(144, 148, 150, 0.8);
}

.button a{
    color:#fff;
    text-align: center;
}



/*Propiedad Producto final*/
/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
	position: relative;
}

.container-img img {
	width: 50%;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #000;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.add-cart:hover i {
	color: #fff;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;

	font-size: 1.7rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}

/* ********************************** */
/*               GALLERY              */
/* ********************************** */
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

/* ********************************** */
/*              SPECIALS              */
/* ********************************** */
.specials {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

/*Quinto contenedor*/
/*Propiedades Producto*/



/*Autorizacion Cehck Bok*/
label {
  
  margin-bottom: 10px;
}
input[type="checkbox"] {
  margin-right: 10px;
}
input[type="number"] {
  margin-left: 10px;  
  display: none;
}
input[type="checkbox"]:checked + input[type="number"] {
  display: inline-block;
}
 
/*Quinto Contenedor*/
#contenedor-5{
  height: 250%;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  background-image: url(../img/textura.png);
  background-color: rgb(221, 221, 221);
}

.heading-5 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  padding: 30px;
  color: #ffffff;
}





#src-file1::before {
  border: none;
  color: white;
  font-size: 18px;
  background: #46a2fd;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 12px
}

@media (min-width: 768px) {
  .formulario {
    opacity: 1;
    margin: auto;
    width: 700px;
    background: #fff;  
    border-radius: 12px;

  }
}

/**/

.nav-card{
  display: none;
}

.container nav button{
display: none;
}

.nav-card li{
  list-style: none;
  padding: 1rem;
  font-weight: bold;
}

.container nav i:hover > .buy-card{
width: 400px;
height: 400px;
position: absolute;
right: 0;
background: #fff;

}
.container nav i:hover .nav-card{
font-size: 1.5rem;
display: flex;
justify-content: space-between;
margin: 0 10px 0 10px;
border-bottom: solid thin #e1e1e1;

}

.container nav i:hover .buy-card > button{
  display: block;
  width: 90%;
  padding: 1rem;
  margin: 10px auto;
  background-color:  transparent;
  border: solid thin #e1e1e1;
  color: #494848;
  cursor: pointer;
}

.container nav i:hover .buy-card > button:hover{
  border: solid thin #494848;
  transition: all .4;
}

.container nav i {
  font-size: 3rem;
  cursor: pointer;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;  
  color: #63a2bd;   
  font-size: 70px;
}

.grid{
  display: table; 
  margin-top: 10px;
  margin: auto; 
}


.items{
 background-color: #fff;
 border: solid thin #21429b;
 border-radius: 8px;   
}

.items img{
  width: 100%; 
}

.info{
  padding: 15px;
}

.info h3{
  font-size: 1.6rem;
}

.info p{
  font-size: 1.8rem;
}


.precio p:first-child{
  text-decoration: line-through;    
}

.precio{
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.precio p{
  font-size: 1.8rem;
}

.info h3,
.info p{
  color: #000000;
  margin-bottom: 15px;
}

.info button{
  color: #f3f3f3;
  padding: 1rem;
  width: 100%;
  background-color: #000000;
  border: none;
  outline: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.info button:hover{
  background-color: #c34b2dc0;
  transition: all .3;
}

/*Quinta pantalla dividida*/

div.col-sm{
  height: 100%;
 padding: 1%;
 margin-top: 5px;
 margin: auto;
 display: table;
 background-image: url(../img/textura.png);
    background-color: rgb(221, 221, 221);
}


/*Modal*/

/* Estilos para el fondo oscurecido */
.modal {
  display: none; /* Por defecto, oculto */
  position: fixed; /* Posición fija para que se mantenga en el centro */
  z-index: 1; /* Z-index alto para que aparezca por encima del contenido */
  left: -8%;
  top: 0;
  width: 90%;
  height: 100%;
  overflow: auto; /* Permite desplazar el contenido si es necesario */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscurecido */
}

/* Estilos para la ventana modal */
.modal-content {
  background-color: #fefefe;
  margin: 10px 25% 10px;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* Estilos para el botón cerrar */
.close {
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 38px;
  font-weight: bold;
  margin: 10px 15px 0 0;
}

/* Estilos para el botón cerrar cuando se pasa el cursor por encima */
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#cerrar-ventana{
  background-color: #000;
  width: 30%; 
  text-align: center;
  margin-block-end: flex-end; 
  
 
}
 

div#tabla{
  margin-top: 150px;
}


/*Carrusel Img*/
.carousel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide:first-child {
  opacity: 1;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



