<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opinion</title>

    <link rel="stylesheet" href="./css/opinionYFotos.css">

    <!--<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="hero">
    <div class="navbar">
      <div class="nav__logo">
        <img src="img/logo.png" class="image" />
      </div>

      <div class="nav-links">
        <div class="nav-header">
          <a href="carritoAlquiler.html">Alquileres</a>
        </div>
      </div>
    </div>
  </header>

    <br><br><br><br><br><br><br><br>


    <div class="dividir-pantalla">

        <div class="pantalla_izquierda">

            <div class="grid">
                <div class="items" style="font-size: 20px;border-bottom: 1px solid #e4e4e4; width:100%;">
                    <img src="./img/1.png" alt="">
                    <div class="info">
                        <h3>Estas calificando a:</h3>
                        <h3>Quincho para eventos</h3>
                        <p>Extras: garage, patio, pscina</p>
                        <div class="precio">

                            <p>$100.000</p>
                        </div>
                      
                        <!--<button>Agregar al carrito</button>-->
                    </div>
                </div>
                <hr>
            </div>
            
        </div>



        <div class="pantalla_derecha">
            <h1>Cuéntanos: ¿cómo estuvo tu experiencia?</h1>
            <div class="contenedor">

                <!-- Añadir -->
                <div class="añadir">
                    <h2>Escribe tu opinión</h2>
                    <form>
                        <!-- Añadir Calificació-->
                        <p>¿Cómo calificarías tu experiencia?</p>
                        <p class="clasificacion">
                            <input id="valorAñadir" type="radio" name="estrellas" value="5"><!--
                                --><label for="radio1">★</label><!--
                                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                --><label for="radio2">★</label><!--
                                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                --><label for="radio3">★</label><!--
                                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                --><label for="radio4">★</label><!--
                                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                --><label for="radio5">★</label>
                        </p>

                        <!-- Añadir Opinión -->
                        <textarea class="formulario__login" id="productoAñadir" rows="4"
                            placeholder="Deja tu opinión"></textarea> <br>

                        <a href="reservaAlquiler.html"><input class="button" type="button" id="botonAñadir"
                                value="Añadir Opinión"></a>
                    </form>
                </div>


                <div class="contenedor">
                    <div class="añadir">
                        <h2>Añadir Fotos</h2>

                        <p style="text-align: center; margin-bottom: 10px;">Plasma tu experiencia <br>
                            al mundo con fotografías.</p>

                        <!--Cargar foto-->

                        <div id="image"></div>
                        <button type="button" id="cargar">Cargar</button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/añadirImagen.js"></script>

   
</body>

</html>